
body{
    background: #002a4e;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .contaner{
    text-align: center;
  
  }
  .head{
    max-width: 200px;
    margin: 20px auto;
  }

  h1{
    font-size: 2em;
    color: white;
    margin: 0 auto;
    font-family: 'Aref Ruqaa', serif;



  }

  h3{
    color: #f7a600;
  }

  .social{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 280px;
    margin: 50px auto;
  }

  .c_item{
    text-decoration: none;

  }
