
body{
    background: #002a4e;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .container{
    display: grid;
    grid-template-rows: repeat(6, minmax(100px, auto));
    grid-template-columns: repeat(7, 1fr);

  }

  .logo_img{
    display: grid;
    grid-column: 4/5;
  }

  h2{
    font-size: 2em;
    color: white;
    font-family: 'Aref Ruqaa', serif;
    grid-row: 2/3;
    grid-column: 3/6;
    margin: 25px auto;

}

  h3{
    color: #f7a600;
  }

  .social{
    /* background-color: rgb(77, 16, 16); */
    border-radius: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-column: 3/6;
    align-items: center; 
  }

  .c_item{
    text-decoration: none;
    max-width: 100px;

  }
